body {
    fill: white;
}

.container {
    padding: .4rem .8rem;
}

.lower {
    padding: .4rem;
}

.upper {
    padding: .4rem;
}

.upper .panel {
    height: 70.5vh;
    background-color: white;
}

.lower .panel {
    height: 23vh;
    background-color: white;
}

.map-container {
    padding: 0.4rem;
    border-radius: .1rem;
    height: 100%;
}

.plot-container {
    padding: 0.4rem;
    border-radius: .1rem;
    max-height: inherit;
    height: 100%;
    width: 100%;
}

.timeline-container {
    padding: 40px;
}

.irs-from {
    background-color: #F4512C !important;
}

.irs-to {
    background-color: #F4512C !important;
}

.irs-single {
    background-color: #F4512C !important;
}

.irs-bar {
    background-color: #F4512C !important;
}

.fade {
    content: " ";
    z-index: 1000;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75) !important;
    padding: 12% !important;
    text-align: center;
}

.fade .bar {
}

.panel .empty {
    height: 100%;
}

.counties {
    fill: lightgray;
    pointer-events: none;
}

.states {
    pointer-events: fill;
    fill: none;
}

.counties :hover {
    fill: darkgray;
}

.states :hover {
    fill: rgba(169, 169, 169, 0.51);
}

.county-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.fireArea {
    fill: red;
}