.counties {
    fill: lightgray;
    pointer-events: none;
}

.states {
    pointer-events: fill;
    fill: none;
}

.counties :hover {
    fill: darkgray;
}

.states :hover {
    fill: rgba(169, 169, 169, 0.51);
}

.county-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.fireArea {
    fill: red;
}